.logo {
    height: 32px;
    /* background: rgba(255,255,255,.2); */
    margin: 16px;
  }

  .text{
    color: aliceblue;
    text-align: center;
  }

  .ant-breadcrumb-separator {
    margin: 0 0px;
    color: rgba(0, 0, 0, 0.45);
}